<p>
    Тобі потрібно визначити, чи є дане ціле число (за основою <b class="code">10</b>) паліндромом чи ні за основою <b class="code">B</b>. Основа пишеться підрядковим індексом. Число є паліндромом, якщо воно читається однаково в обох напрямках, наприклад, <b class="code">121<sub>10</sub></b> є паліндромом, а <b class="code">122<sub>10</sub></b> – ні. Якщо ціле число<sub>B</sub> є паліндромом, поверни <b class="code">{% if is_js %}t{% else %}T{% endif %}rue</b>, якщо ні, поверни <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>. <a target="_blank" href="https://en.wikipedia.org/wiki/Radix">Прочитай більше про основи чисел.</a>
</p>
<p>
    Найпоширенішою основою є десяткова. Щоб конвертувати ціле число<sub>10</sub> в інше, тобі потрібно ділити його на основу і брати остачі поки число не стане рівним нулю. Давай подивимось на наступний приклад - конвертувати число <b class="code">6<sub>10</sub></b> в бінарну форму <b class="code">6<sub>2</sub></b>.    
</p>
<p>
    <table>
        <tr>
            <th><b>Число</b></th>
            <th><b>Частка</b></th>
            <th><b>Остача</b></th>
            <th><b>Нормальний порядок</b></th>
            <th><b>Зворотній порядок</b></th>
        </tr>
        <tr><td>6</td><td>3</td><td>0</td><td>0</td><td>0</td></tr>
        <tr><td>3</td><td>1</td><td>1</td><td>10</td><td>01</td></tr>
        <tr><td>1</td><td>0</td><td>1</td><td>110</td><td>011</td></tr>
        <tr><td>0</td><td></td><td></td><td></td><td></td></tr>
    </table>
    Оскільки <b class="code">110</b> не рівно <b class="code">011</b> - <b class="code">6<sub>2</sub></b> не є паліндромом.
</p>
<p>
    Щоб повернутися до десяткової форми, почни з нуля, множ на основу і додавай остачі. Для <b class="code">6<sub>2</sub> == 110</b> це <b class="code">(((0*2) + 1)*2 + 1)*2 + 0 = 6</b>. 
</p>
<p>
    <strong>Вхідні дані:</strong> Задане ціле число та основа B (ціле число).
</p>

<p>
    <strong>Вихідні дані:</strong> Логічне (булеве) значення.
</p>



<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Передумова:</strong>
    <li>number >= 0;</li>
    <li>number ціле число;</li>
    <li> B >= 2;</li>
    <li>B is ціле число.</li>
</p>
