<p>
    You need to determine whether the given {% if is_js %}number{% else %}integer{% endif %} (in base <b class="code">10</b>) is a palindrome or not in base <b class="code">B</b>. Base (or radix) is written as subscript text.
    A number is a palindrome if it reads the same in both directions, for example <b class="code">121<sub>10</sub></b> is a palindrome, and <b class="code">122<sub>10</sub></b> is not.
    If the {% if is_js %}number<sub>B</sub>{% else %}integer<sub>B</sub>{% endif %} is a palindrome, return <b class="code">True</b>, if not, return <b class="code">False</b>.
    <a target="_blank" href="https://en.wikipedia.org/wiki/Radix">Read more about number bases.</a>  
</p>
<p>
    The most common base is decimal. To convert {% if is_js %}a number<sub>10</sub>{% else %}an integer<sub>10</sub>{% endif %} to another base you need to divide it by base and take reminders until the number becomes equal zero. Let's look at the following example - convert {% if is_js %}number{% else %}integer{% endif %} <b class="code">6<sub>10</sub></b> into the binary form <b class="code">6<sub>2</sub></b>.    
</p>
<p>
    <table>
        <tr>
            <th><b>{% if is_js %}Number{% else %}Integer{% endif %}</b></th>
            <th><b>Quotient</b></th>
            <th><b>Reminder</b></th>
            <th><b>Normal</b></th>
            <th><b>Reversed</b></th>
        </tr>
        <tr><td>6</td><td>3</td><td>0</td><td>0</td><td>0</td></tr>
        <tr><td>3</td><td>1</td><td>1</td><td>10</td><td>01</td></tr>
        <tr><td>1</td><td>0</td><td>1</td><td>110</td><td>011</td></tr>
        <tr><td>0</td><td></td><td></td><td></td><td></td></tr>
    </table>
    Since reversed <b class="code">001</b> is not equal normal <b class="code">110</b> - <b class="code">6<sub>2</sub></b> is not a palindrome.
</p>
<p>
    To return back to the decimal form, start from zero, multiply by base and add reminders. For <b class="code">6<sub>2</sub> == 110</b> it's <b class="code">(((0*2) + 1)*2 + 1)*2 + 0 = 6</b>. 
</p>
<p>
    <strong>Input:</strong> Given {% if is_js %}Number{% else %}integer{% endif %} and base B ({% if is_js %}Number{% else %}integer{% endif %}).
</p>

<p>
    <strong>Output:</strong> Boolean.
</p>



<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Precondition:</strong>
    <li>number >= 0;</li>
    <li>number is integer;</li>
    <li> B >= 2;</li>
    <li>B is integer.</li>
</p>
